 <div class="form-container">


    <ng-container *ngIf="!params">
        <div class="form-group p-2 w-25" >
            <label for="tipoCliente" class="form-label">TIPO DE CLIENTE</label>
            <select matNativeControl id="tipoCliente" #selectionAtipePersona class="form-select form-select-sm" aria-label="Default select example">
                <option value=false >EMPRESA</option>
                <option value=true>PERSONA</option>
    
              </select>
        </div>
    </ng-container>
   


    <ng-container *ngIf="!esPersona">
        <form #formTemplate="ngForm" [formGroup]="entityFormEmpresa" class="form mat-elevation-z2">
           
            
            <mat-grid-list [cols]="colsSize" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>
                            NOMBRE DE LA EMPRESA
                        </mat-label>
                        <input formControlName="nombreEmpresa" matInput placeholder="NOMBRE DE LA EMPRESA" class="text-uppercase">
                        <mat-error *ngIf="entityFormEmpresa.invalid">
                            {{ getErrorMessageEmpresa('nombreEmpresa') }}
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            
            
            
            

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>
                            RAZON SOCIAL
                        </mat-label>
                        <input formControlName="razonSocial" matInput placeholder="RAZON SOCIAL" class="text-uppercase">
                        <mat-error *ngIf="entityFormEmpresa.invalid">
                            {{ getErrorMessageEmpresa('razonSocial') }}
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>
                            NOMBRE ENCARGADO
                        </mat-label>
                        <input formControlName="nombreEncargado" matInput placeholder="NOMBRE ENCARGADO" required class="text-uppercase">
                        <mat-error *ngIf="entityFormEmpresa.invalid">
                            {{ getErrorMessageEmpresa('nombreEncargado') }}
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        TELEFONO
                    </mat-label>
                    <input formControlName="telefono" matInput placeholder="TELEFONO" required>
                    <mat-error *ngIf="entityFormEmpresa.invalid">
                        {{ getErrorMessageEmpresa('telefono') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>



                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>
                            RUC
                        </mat-label>
                        <input formControlName="ruc" type="text" matInput placeholder="RUC" >
                        <mat-error *ngIf="entityFormEmpresa.invalid">
                            {{ getErrorMessageEmpresa('ruc') }}
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>SECTOR</mat-label>
                        <mat-select formControlName="sector">
                            <mat-option>SELECCIONAR SECTOR</mat-option>
                            <mat-option  value="publico">
                                PÚBLICO
                            </mat-option>
                            <mat-option  value="privado">
                                PRIVADO
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="entityFormEmpresa.invalid">{{ getErrorMessageEmpresa('sector') }}</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            
            

            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        DIRECCIÓN
                    </mat-label>
                    <input formControlName="direccion" matInput placeholder="DIRECCIÓN" required class="text-uppercase">
                    <mat-error *ngIf="entityFormEmpresa.invalid">
                        {{ getErrorMessageEmpresa('direccion') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        EMAIL
                    </mat-label>
                    <input formControlName="email" matInput placeholder="EMAIL" required>
                    <mat-error *ngIf="entityFormEmpresa.invalid">
                        {{ getErrorMessageEmpresa('email') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            
           <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>LOCALIDAD</mat-label>
                    <mat-select formControlName="localidad" id="gestionSelect">
                        <mat-option>SELECCIONAR LOCALIDAD</mat-option>
                        <mat-option *ngFor="let localidad of listadoLocalidad" [value]="localidad.id">
                            {{localidad.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="entityFormEmpresa.invalid">{{ getErrorMessageEmpresa('localidad') }}</mat-error>
                </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>






    <div class="buttons-container">
        <button id="register" *ngIf="!params"  mat-raised-button color="primary" type="button" (click)="saveClienteEmpresa()">
            {{ viewText.REGISTER }}
            <mat-icon>save</mat-icon>
        </button>
        <button id="update" *ngIf="params"  mat-raised-button color="primary"  type="button" (click) ="updateClienteEmpresa()">
            {{ viewText.UPDATE }}
            <mat-icon>update</mat-icon>
        </button>
        <button type="button" mat-raised-button (click)="closeForm()">
            {{ viewText.CANCEL }}
            <mat-icon>clear</mat-icon>
        </button>
    </div>

</form>
    </ng-container>


    <ng-container *ngIf="esPersona">
        <form #formTemplate="ngForm" [formGroup]="entityFormPersona" class="form mat-elevation-z2">
        <mat-grid-list [cols]="colsSize" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        NOMBRE
                    </mat-label>
                    <input formControlName="nombre" matInput placeholder="NOMBRE" class="text-uppercase">
                    <mat-error *ngIf="entityFormPersona.invalid">
                        {{ getErrorMessagePersona('nombre') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

        
        
        
        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        APELLIDO
                    </mat-label>
                    <input formControlName="apellido" matInput placeholder="APELLIDO" class="text-uppercase">
                    <mat-error *ngIf="entityFormPersona.invalid">
                        {{ getErrorMessagePersona('apellido') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        CEDULA
                    </mat-label>
                    <input formControlName="cedula" matInput placeholder="CEDULA" required>
                    <mat-error *ngIf="entityFormPersona.invalid">
                        {{ getErrorMessagePersona('cedula') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>



        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label>
                    TELEFONO
                </mat-label>
                <input formControlName="telefono" matInput placeholder="TELEFONO" required>
                <mat-error *ngIf="entityFormPersona.invalid">
                    {{ getErrorMessagePersona('telefono') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label>
                    DIRECCIÓN
                </mat-label>
                <input formControlName="direccion" matInput placeholder="DIRECCIÓN" required class="text-uppercase">
                <mat-error *ngIf="entityFormPersona.invalid">
                    {{ getErrorMessagePersona('direccion') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label>
                    EMAIL
                </mat-label>
                <input formControlName="email" matInput placeholder="EMAIL" required>
                <mat-error *ngIf="entityFormPersona.invalid">
                    {{ getErrorMessagePersona('email') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        
       <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label>LOCALIDAD</mat-label>
                <mat-select formControlName="localidad" id="gestionSelect">
                    <mat-option>SELECCIONAR LOCALIDAD</mat-option>
                    <mat-option *ngFor="let localidad of listadoLocalidad" [value]="localidad.id">
                        {{localidad.nombre}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="entityFormPersona.invalid">{{ getErrorMessagePersona('localidad') }}</mat-error>
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>

    <div class="buttons-container">
        <button id="register" *ngIf="!params"  mat-raised-button color="primary" type="button" (click)="saveClientePersona()">
            {{ viewText.REGISTER }}
            <mat-icon>save</mat-icon>
        </button>
        <button id="update" *ngIf="params"  mat-raised-button color="primary"  type="button" (click) ="updateClientePersona()">
            {{ viewText.UPDATE }}
            <mat-icon>update</mat-icon>
        </button>
        <button type="button" mat-raised-button (click)="closeForm()">
            {{ viewText.CANCEL }}
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    </form>
    </ng-container>


</div>
