<div class="form-container">

    <form #formTemplate="ngForm" [formGroup]="entityForm" class="form mat-elevation-z2">
        <mat-grid-list [cols]="colsSize" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">

        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        NOMBRE
                    </mat-label>
                    <input formControlName="nombre" matInput placeholder="NOMBRE" required  >
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('nombre') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        


        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>AUTOR</mat-label>
                    <mat-select formControlName="autor" id="gestionSelect">
                        <mat-option>SELECCIONAR AUTOR</mat-option>
                        <mat-option *ngFor="let autor of autorList" [value]="autor.idAutor">
                            {{autor.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="entityForm.invalid">{{ getErrorMessage('autor') }}</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>EDITORIAL</mat-label>
                    <mat-select formControlName="editorial" id="gestionSelect">
                        <mat-option>SELECCIONAR EDITORIAL</mat-option>
                        <mat-option *ngFor="let editorial of editorialList" [value]="editorial.idEditorial">
                            {{editorial.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="entityForm.invalid">{{ getErrorMessage('editorial') }}</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        ISBN
                    </mat-label>
                    <input formControlName="isbn" matInput placeholder="ISBN" >
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('isbn') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>MATERIA</mat-label>
                    <mat-select formControlName="materia" id="gestionSelect">
                        <mat-option>SELECCIONAR MATERIA</mat-option>
                        <mat-option *ngFor="let materia of materiaList" [value]="materia.idMateria">
                            {{materia.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="entityForm.invalid">{{ getErrorMessage('materia') }}</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>CICLO</mat-label>
                    <mat-select formControlName="ciclo" id="gestionSelect">
                        <mat-option>SELECCIONAR CICLO</mat-option>
                        <mat-option *ngFor="let ciclo of cicloList" [value]="ciclo.idCiclo" (onSelectionChange)="onCicloSelect(ciclo)">
                            {{ciclo.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="entityForm.invalid">{{ getErrorMessage('ciclo') }}</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>CATEGORIA</mat-label>
                    <mat-select formControlName="categoria" id="gestionSelect">
                        <mat-option>SELECCIONAR CATEGORIA</mat-option>
                        <mat-option *ngFor="let categoria of categoriaList" [value]="categoria.idCategoria">
                            {{categoria.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="entityForm.invalid">{{ getErrorMessage('categoria') }}</mat-error>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        PRECIO COSTO
                    </mat-label>
                    <input formControlName="costo" matInput placeholder="COSTO" required required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('costo') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        PRECIO VENTA
                    </mat-label>
                    <input formControlName="precio" matInput placeholder="PRECIO" required required >
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('precio') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>IVA</mat-label>
                    <mat-select formControlName="iva" id="gestionSelect">
                        <mat-option [value]="0">0</mat-option>
                        <mat-option [value]=0.05>5%</mat-option>
                        <mat-option [value]=0.1>10%</mat-option>
                    </mat-select>
                    <mat-error *ngIf="entityForm.invalid">{{ getErrorMessage('iva') }}</mat-error>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="2">
                <mat-form-field>
                    <mat-label>
                        DESCRIPCION
                    </mat-label>
                    <textarea formControlName="descripcion" matInput placeholder="DESCRIPCION" required ></textarea>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('descripcion') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1" translate="no">
                <input type="file" class="file-input" accept="image/png,image/jpeg"
                    (change)="onFileSelected($event)" #fileUpload>

                
                <div class="file-upload">

                    {{fileName || viewText.SELECT_IMAGE}}

                    <button mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>



            </mat-grid-tile>
            

            
           

        </mat-grid-list>

        

        <div class="buttons-container">
            <button id="register" *ngIf="!params && !readOnlyDetalle"  mat-raised-button color="primary" type="button" (click)="saveProducto()" >
                {{ viewText.REGISTER }}
                <mat-icon>save</mat-icon>
            </button>
            <button id="update" *ngIf="params && !readOnlyDetalle"  mat-raised-button color="primary"  type="button" (click) ="updateProducto()" >
                {{ viewText.UPDATE }}
                <mat-icon>update</mat-icon>
            </button>
            <button *ngIf = "!readOnlyDetalle" type="button" mat-raised-button (click)="closeForm()" >
                {{ viewText.CANCEL }}
                <mat-icon>clear</mat-icon>
            </button>
        </div>

    </form>
</div>
