
<div class="form-container mat-elevation-z2">
    <div class="row w-100">
        <div class="w-50">
            <div class="w-100">
                <img src={{urlBase+entity.image}} class="image-detail">
            </div>
                
        </div>
        <div class="w-50">
            <ul class="list-group lista-detalle">
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>NOMBRE:</b> </span>
                    <span>{{entity.nombre}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>CANTIDAD:</b> </span>
                    <span>{{entity.stockActual}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>AUTOR:</b> </span>
                    <span>{{entity.autor}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>EDITORIAL:</b> </span>
                    <span>{{entity.editorial}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>ISBN:</b> </span>
                    <span>{{entity.isbn}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>MATERIA:</b> </span>
                    <span>{{entity.materia}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>GRADO/CURSO:</b> </span>
                    <span>{{entity.gradoCurso}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>PRECIO COSTO:</b> </span>
                    <span class="currency-symbol">₲</span>
                    <span> {{entity.costo}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>PRECIO VENTA:</b> </span>
                    <span class="currency-symbol">₲</span>
                    <span> {{entity.precio}}</span>
                </li>
                <li class="list-group-item">
                    <span style="margin-right: 0.5rem;"><b>IVA:</b> </span>
                    <span>{{entity.iva}}</span>
                </li>
              </ul>
        </div>
    </div>
    <div class="container mt-5 pb-5">
        <div class="text-center">
            <h4>DESCRIPCIÓN DEL PRODUCTO</h4>
        </div>
        <div class="container">
            <p class="w-50 m-auto parrafo-descripcion border p-2"><em>{{entity.descripcion}}</em></p>
        </div>
    </div>
</div>

    

