<main>
    <div class="container-fluid px-4">
        <div class="row mt-4">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <h5 class="card-title">TOTAL VENDIDO</h5>
                        <h6 class="card-subtitle mb-2 ">{{formatearNumero(datosEstadisticos.totalVendido)}}</h6>
                    </div>
                   
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <h5 class="card-title">TOTAL COMPRADO</h5>
                        <h6 class="card-subtitle mb-2 ">{{formatearNumero(datosEstadisticos.totalComprado)}}</h6>
                    </div>
                   
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <h5 class="card-title">CANTIDAD A COBRAR</h5>
                        <h6 class="card-subtitle mb-2 ">{{formatearNumero(datosEstadisticos.cantidadACobrar)}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <h5 class="card-title">CANTIDAD A PAGAR</h5>
                        <h6 class="card-subtitle mb-2 ">{{formatearNumero(datosEstadisticos.cantidadAPagar)}}</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-9">
                <div class="card mb-4">
                    <div class="card-header">
                        <mat-icon class="pt-1">show_chart</mat-icon>
                        Ventas
                    </div>
                    <canvas id="ventasChart"></canvas>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="row">
                    <div class="col-xl-12 col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">INGRESO</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{formatearNumero(datosEstadisticos.ingresoEnCaja)}}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">EGRESO</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{formatearNumero(datosEstadisticos.egresoEnCaja)}}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">TOTAL EN CAJA</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{formatearNumero(datosEstadisticos.saldoEnCaja)}}</h6>
                            </div>
                           
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</main>