<div class="container-fluid px-4">
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card mb-4">
                <div class="card-header">
                    <mat-icon class="pt-1">show_chart</mat-icon>
                    Cantidad de Productos Vendidos
                </div>
                <canvas id="cantidadProducto"></canvas>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card mb-4">
                <div class="card-header">
                    <mat-icon class="pt-1">show_chart</mat-icon>
                    Monto Total de Ventas
                </div>
                <canvas id="cantidadVentas"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <mat-icon class="pt-1">show_chart</mat-icon>
                    Total Cobrado por Mes
                </div>
                <canvas id="cobradoMes"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <mat-icon class="pt-1">show_chart</mat-icon>
                    Total Pagado por Mes
                </div>
                <canvas id="pagadoMes"></canvas>
            </div>
        </div>
    </div>
</div>