.list-page {
    padding: 0.5%; // antes 2%
  }


  
  .list-container {
    position: relative;
    min-height: 200px;
  }
  
  .list-table-container {
    position: relative;
    min-height: 200px;
    max-height: 1000px;
    height: 69.5vh; //~72% tomando como referencia el alto de la pantalla
    overflow: auto;
  }

  .input-box {
    width: 300px;
    margin-top: 10px;
  }


  .list-filter-container {
    position: relative;
    min-height: 100px;
    max-height: 100px;
    height: 72vh; //~72% tomando como referencia el alto de la pantalla
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  // Para el efecto loader
  .spinner-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  input {
    text-transform: uppercase;
  }
  
  // personalizaciones
  .filter-input {
    margin-bottom: -1.3em !important;
    min-width: 8rem !important;
    width: auto !important;
    padding: 0px 2px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    top: 5px;
  }
  
  .small-row {
    min-height: 28px !important;
    height: 28px;
  }
  
  .hideFilter {
    display: none !important;
  }
  
  .config-table-btn {
    right: 8px;
    position: absolute;
  }
  
  .config-table-btn-large {
    display: none;
  }
  
  .options-column {
    display: block;
  }
  
  @media (max-width: 800px) {
    .config-table-btn-large {
      display: block;
    }
  
    .options-column {
      display: none;
    }
  
    .config-table-btn {
      display: none;
    }
  }

  .example-card {
    max-width: 100px;
    max-height: 100rem;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  //aca empieza la personalizacion de las cards

.container{
  padding: 24px;
}

.responsive-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
  background-color: #980000;
}

.product-item .card {
  border: none
  
  
}


.product-item .card {
  --bs-card-bg: transparent!important
}

.product-item{
  margin-bottom: 20px;
  border-right: 1px solid #e6e6e6;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  
}

.card .producto-transition{
  position: relative;
  
}



.producto-transition .product-image-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.product-item:before {
  content: " ";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background-color: #e6e6e6
}

.product-item .card .card-body {
  padding-top: 20px;
  padding-right: 0!important;
  padding-left: 0!important
}

.product-item .card .card-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden
}

.product-item .card .card-text.product-author {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 12px;
  color: #999;
  font-weight: 400
}


.product-price{
  font-size: 14px;
  font-weight: 400;
  color:darkgoldenrod;
  padding-left: 7px
}


.product-item .card .card-img-top {
  border-radius: 15px;
  height: 15rem;
}

.card-img,.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius)
}

.card-img,.card-img-bottom,.card-img-top {
  width: 100%
}

.buttom-edit{
  position:absolute;
  top: 70%;
  left: 72%;
}

.buttom-delete{
  position:absolute;
  top: 84%;
  left: 72%;
  color: red;
}

.input-filters{
  width: 25rem;
}

.select-filters{
  width: 15rem;
}
