

<div class="form-container">

    <form #formTemplate="ngForm" [formGroup]="entityForm" class="form mat-elevation-z2">
        <mat-grid-list [cols]="12" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">
            
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                    <mat-label>FECHA</mat-label>
                       <input matInput formControlName="fecha" [matDatepicker]="picker" placeholder="FECHA">
                       <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                       <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('fecha') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            

            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        RUC/CEDULA
                    </mat-label>
                    <input formControlName="rucCedula" matInput placeholder="RUC/CEDULA" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('rucCedula') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        N° FOLIO
                    </mat-label>
                    <input formControlName="folio" matInput placeholder="N° FOLIO" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('folio') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        TIMBRADO
                    </mat-label>
                    <input formControlName="timbrado" matInput placeholder="TIMBRADO" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('timbrado') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                      RAZON SOCIAL
                    </mat-label>
                    <input   matInput type="text"  [matAutocomplete]="auto2" (keyup)="searchClientes($event)"/>
                    <mat-autocomplete #auto2="matAutocomplete">
                      <mat-option *ngFor="let cliente of Clientes$ | async; let i=index" [value]="cliente.razonSocial"  (onSelectionChange)="selectioChangeCliente(cliente,i)">
                        {{cliente.razonSocial}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        FUNCIONARIO
                    </mat-label>
                    <input formControlName="funcionario" matInput placeholder="FUNCIONARIO" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('funcionario') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>


        </mat-grid-list>

        
        
          

    </form>

    <form style="width: 500px;">
        <mat-form-field>
            <mat-label>
              BUSCAR EL PRODUCTO
            </mat-label>
            <input   matInput type="text"  [matAutocomplete]="auto1" (keyup)="searchProducts($event)"/>
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let producto of Products$ | async; let i=index"  (onSelectionChange)="selectioChange(producto,i)">
                {{producto.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </form>


      <form class="list-table-container">
        <table class="table">
            <thead>
              <tr class="text-uppercase text-center">
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Iva</th>
                <th scope="col">Descuento</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody [formGroup]="entityForm">
              <ng-container formArrayName="detalleProducts" *ngFor="let group of getFormControls.controls; let i=index">
                <tr [formGroupName]="i">
                  <td>
                    <input type="text" class="form-control form-control-sm" formControlName="producto" readonly [disabled]="true">
    
                  </td>
                  <td>
                    <input type="number" class="form-control form-control-sm" name="cantidad" formControlName="cantidad" (keyup)="changeSubTotal($event,i)" placeholder="Ingrese la cantidad">
                   
                  </td>
                  <td>
                      <input type="text" class="form-control form-control-sm" formControlName="precio" readonly>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm" formControlName="iva" readonly>
                  </td>
                  <td>
                    <input type="text"  class="form-control form-control-sm"  formControlName="descuento" name="descuento" (keyup)="changeSubTotal($event,i)" placeholder="Ingrese el descuento">
                  </td>
                  <td>
                      <input type="text" class="form-control form-control-sm" formControlName="subTotal"  readonly>
                    </td>
                    <td>
                        <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="removeEmployee(i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </td>
                </tr>
              </ng-container>
              
            </tbody>

           
          </table>

      </form>

      <div style="display: flex; justify-content: flex-end;">
        <span style="margin-right: 11rem;" class="h5 mt-1 border border-primary rounded bg-white p-2">TOTAL: {{total}}</span>
      </div>

      <div class="buttons-container">
        <button id="register"   mat-raised-button color="primary" type="button" >
            CREAR
            <mat-icon>save</mat-icon>
        </button>
       
        <button type="button" mat-raised-button>
            {{ viewText.CANCEL }}
            <mat-icon>clear</mat-icon>
        </button>
    </div>

      

    

    


   
   
</div>
