<div class="list-page">

    <div class="list-container mat-elevation-z4">

        <div class="d-flex flex-row">
            <div class="p-1 input-filters">
                <div class="form-group " [formGroup]="filterForm">
                    <input formControlName="nombre" (keydown.enter)="doFilter()" type="text" class="form-control" placeholder="Buscar por funcionario">
                </div>
            </div>
            <div class="p-1 select-filters">
                <div class="form-group " [formGroup]="filterForm">
                    <select (change)="doFilter()" formControlName="idMotivo" matNativeControl id="tipoCliente" #selectionAtipePersona class="form-select" aria-label="Default select example">
                        <option value='' >Todos los Motivos</option>
                        <option [value]="motivo.idMotivo" *ngFor="let motivo of listadoMotivo">{{motivo.nombre}}</option>
            
                    </select>
                </div>
            </div>
        </div>
        

       <mat-table [dataSource]="dataSource.content"  class="list-table-container" matSort matSortActive="fecha"   matSortDisableClear matSortDirection="asc" fxLayout="row">
        <ng-container matColumnDef="fecha" >
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                FECHA
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.fecha}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="funcionario" >
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                FUNCIONARIO
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.nombreFuncionario}} {{element.apellidoFuncionario}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="motivo" >
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                MOTIVO
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.motivo.nombre}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comentario" >
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                COMENTARIO
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.comentario}}
            </mat-cell>
        </ng-container>

        

        
        

        <!--filters-->
       

        

        <div *ngIf="true">
            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef fxFlex="15%">

                    <span class="options-column">
                        OPCIONES
                    </span>

                    <button  matTooltip="OPCIONES DE TABLA"
                        class="config-table-btn-large" mat-flat-button>
                        OPCIONES
                    </button>

                    
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="15%">

                    <button mat-icon-button [matMenuTriggerFor]="actions">
                        <mat-icon aria-label="actions">
                            more_horiz
                        </mat-icon>
                    </button>

                    <mat-menu #actions>
                        <button mat-menu-item (click)="onClickDetailsMovimiento(element)">
                            <mat-icon class="mat-18">
                                navigate_next
                            </mat-icon>
                            DETALLE
                        </button>

                        <mat-divider></mat-divider>

                        <button mat-menu-item >
                            <mat-icon class="mat-18">
                                delete
                            </mat-icon>
                            ANULAR
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>
        </div>


        <mat-header-row *matHeaderRowDef="displayedColumns; "></mat-header-row>
        <!-- <mat-header-row *matHeaderRowDef="displayedFilters; " class="second-header-row"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

         <mat-paginator
          [pageSizeOptions]="paginatorRange"
          [length]="dataSource.totalElements"
          [pageSize]="dataSource.pageable.pageSize"
          (page)="pageEvent = $event; onPaginateChange($event)"
          showFirstLastButtons #pagi>
        </mat-paginator> 

    </div>
</div>

