<nav mat-tab-nav-bar updateActiveLink>

    <a mat-tab-link routerLink="listar-ciclo" (click)="cicloService.editForm=false" routerLinkActive routerLinkActive #rl1="routerLinkActive" [active]="rl1.isActive">
      LISTAR CICLO
    </a>

    <a mat-tab-link routerLink="nuevo-ciclo" *ngIf="!cicloService.editForm" routerLinkActive #rl2="routerLinkActive" [active]="rl2.isActive">
      REGISTRAR CICLO
    </a>

    <a mat-tab-link routerLink="editar-ciclo" *ngIf="cicloService.editForm" routerLinkActive #rl3="routerLinkActive" [active]="rl3.isActive">
      MODIFICAR CICLO
    </a>



  </nav>

  <router-outlet></router-outlet>
