<nav mat-tab-nav-bar updateActiveLink>

    <a mat-tab-link routerLink="listar-autor-adm" (click)="autorAdmService.editForm=false" routerLinkActive routerLinkActive #rl1="routerLinkActive" [active]="rl1.isActive">
      LISTAR AUTOR
    </a>

    <a mat-tab-link routerLink="nuevo-autor-adm" *ngIf="!autorAdmService.editForm" routerLinkActive #rl2="routerLinkActive" [active]="rl2.isActive">
      REGISTRAR AUTOR
    </a>

    <a mat-tab-link routerLink="editar-autor-adm" *ngIf="autorAdmService.editForm" routerLinkActive #rl3="routerLinkActive" [active]="rl3.isActive">
      MODIFICAR AUTOR
    </a>



  </nav>

  <router-outlet></router-outlet>
