<nav mat-tab-nav-bar updateActiveLink>

    <a mat-tab-link routerLink="listar-concepto" (click)="conceptoService.editForm=false" routerLinkActive routerLinkActive #rl1="routerLinkActive" [active]="rl1.isActive">
      LISTAR CONCEPTO
    </a>

    <a mat-tab-link routerLink="nuevo-concepto" *ngIf="!conceptoService.editForm" routerLinkActive #rl2="routerLinkActive" [active]="rl2.isActive">
      REGISTRAR CONCEPTO
    </a>

    <a mat-tab-link routerLink="editar-concepto" *ngIf="conceptoService.editForm" routerLinkActive #rl3="routerLinkActive" [active]="rl3.isActive">
      MODIFICAR CONCEPTO
    </a>



  </nav>

  <router-outlet></router-outlet>
