<div class="titulo-detalle-container">
    <div class="titulo-detalle">DATOS DE {{data.element.razonSocial}}</div>
</div>


<div class="form-container">

    <form #formTemplate="ngForm" [formGroup]="entityForm" class="form mat-elevation-z2">
        <mat-grid-list [cols]="colsSize" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">


            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        RAZON SOCIAL
                    </mat-label>
                    <input formControlName="razonSocial" matInput placeholder="RAZON SOCIAL" readonly>
                   
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        NOMBRE ENCARGADO
                    </mat-label>
                    <input formControlName="nombreEncargado" matInput placeholder="NOMBRE ENCARGADO" required readonly>
                   
                </mat-form-field>
            </mat-grid-tile>
        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        TELEFONO
                    </mat-label>
                    <input formControlName="telefono" matInput placeholder="TELEFONO" required readonly>
                    
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        CEDULA
                    </mat-label>
                    <input formControlName="cedula" matInput placeholder="CEDULA" required readonly>
                   
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        RUC
                    </mat-label>
                    <input formControlName="ruc" matInput placeholder="RUC" readonly>
                    
                </mat-form-field>
            </mat-grid-tile>
            

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        SECTOR
                    </mat-label>
                    <input formControlName="sector" matInput placeholder="RAZON SOCIAL" readonly>
                    
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        DIRECCIÓN
                    </mat-label>
                    <input formControlName="direccion" matInput placeholder="DIRECCIÓN" required readonly>
                   
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        EMAIL
                    </mat-label>
                    <input formControlName="email" matInput placeholder="EMAIL" required readonly>
                  
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        LOCALIDAD
                    </mat-label>
                    <input formControlName="localidad" matInput placeholder="LOCALIDAD" required readonly>
                  
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>

        <div class="buttons-container">
           
            <button type="button" mat-raised-button (click)="closeForm()">
                CERRAR
                <mat-icon>clear</mat-icon>
            </button>
        </div>

       

    </form>
</div>
